/target/
/.settings/
/.classpath
/.project
.idea/
.idea/**
/*/.iml
*.iml
*.class
LOG_PATH_IS_UNDEFINED/*
logs/*
target/*
target/classes/*
*/target
*/target/*
*/.project
*/*.iml
*/.springBeans
/.springBeans
/.project
jenkins.sh
/.settings/
/ddbb-thread/
/ddbb-thread/*
*/.settings/
*.iml
.idea/workspace.xml
/Users/vincent/Documents/workspace/cool-framework-demo/.idea/workspace.xml