<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <style>
        #password-div {
            padding: 20px 20px 20px 13px;
        }
        .layui-form-item {
            margin-bottom: 8px;
        }
        .layui-form-item .layui-input-inline {
            margin: 0 0 10px 100px
        }
        .layui-form-label {
            color: #999!important;;
            padding: 9px 0;
        }
        #password-btn {
            padding-top: 5px;
            margin-left: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #password-btn.layui-btn-container .layui-btn{
            margin-right: 30px;
        }
    </style>
</head>
<body id="body">
<div id="password-div">
    <div class="layui-form" lay-filter="">
        <div class="layui-form-item">
            <label class="layui-form-label">当前密码</label>
            <div class="layui-input-inline">
                <input id="oldPassword" type="password" class="layui-input" lay-verify="checkPwd" lay-vertype="tips">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password"  class="layui-input" id="password" lay-verify="newPwd" lay-vertype="tips" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-inline">
                <input type="password" class="layui-input" id="rePassword" lay-verify="rePwd" lay-vertype="tips" autocomplete="off">
            </div>
        </div>
        <hr class="layui-bg-gray">
        <div id="password-btn" class="layui-form-item layui-btn-container">
            <div id="password-submit" type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="savePwd">保存</div>
            <div id="password-close" type="button" class="layui-btn" lay-submit lay-filter="close">关闭</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['form'], function() {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        form.verify({
            checkPwd: function(val) {
                if (val === ""){
                    return "当前密码不能为空";
                }
                if (parent.$('#password').val() !== val) {
                    return "密码不匹配";
                }
            },
            newPwd: function (val) {
                if (val === ""){
                    return "新密码不能为空";
                }
                if (val.length < 4) {
                    return "不能少于4个字符";
                }
                if (parent.$('#password').val() === val) {
                    return "与旧密码不能相同";
                }
            },
            rePwd: function (val) {
                if ($('#password').val() !== val){
                    return "密码不一致";
                }
            }
        });

        form.on('submit(savePwd)', function (data) {
            var user = {
                id: parent.$('#id').val(),
                password: $('#password').val(),
            };
            $.ajax({
                url: "/user/update/auth",
                headers: {'token': localStorage.getItem('token')},
                data: user,
                method: 'POST',
                success: function (res) {
                    if (res.code === 200){
                        parent.layer.close();
                        layer.confirm('密码修改成功，请重新登录',{
                            btn: ['确定'],
                            btn1: function(){
                                localStorage.removeItem("token");
                                top.location.href = "/";
                            },
                            cancel: function(){
                                localStorage.removeItem("token");
                                top.location.href = "/";
                            },
                            closeBtn: 0,
                            shadeClose: false,
                        })
                    } else if (res.code === 403){
                        top.location.href = "/";
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
            return false;
        });


    });

    // 关闭动作
    $(document).on('click','#password-close', function () {
        parent.layer.closeAll();
    });
</script>
</html>