<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cool.mmc.manager.mapper.MerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cool.mmc.manager.entity.Merchant">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="name" property="name" />
        <result column="partner" property="partner" />
        <result column="subject" property="subject" />
        <result column="private_key" property="privateKey" />
        <result column="public_key" property="publicKey" />
        <result column="weight" property="weight" />
        <result column="sort" property="sort" />
        <result column="memo" property="memo" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="editor" property="editor" />
        <result column="status" property="status" />

    </resultMap>

</mapper>
